body {
    background-image: url("images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 375px) {
    body {
        background-image: url("images/bg-intro-desktop.png");
    }
}

@media only screen and (min-width: 375px) {
    main {
        flex-direction: row;
    }
}

@media only screen and (min-width: 375px) {
    .half {
        width: 50%;
    }
}

/* Copy Styles */

#copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#copy * {
    color: white;
    text-align: center;

}

#copy h1 {
    
}

/* Form Styles */

#form {
    display: flex;
    flex-direction: column;
}

button, form {
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: hsl(248, 32%, 49%);
    color: white;
    padding: 5% 20%;
    line-height: 1.5rem;
}

form {
    background: white;
    border-radius: 7px;
    margin-top: 1rem;
}

input {
    display: block;
    width: 85%;
    height: 2rem;
    margin: 1rem auto;
    border: 1px solid hsl(246, 25%, 77%);
}

input:focus {
    border: 2px solid hsl(248, 32%, 49%);
}

#submit {
    background-color: hsl(154, 59%, 51%);
    color: white;
}

form p {
    margin: 1rem 2rem;
    font-size: .8rem;
    text-align: center;
    line-height: 1rem;
    color: grey;
}

#terms {
    color: hsl(0, 100%, 74%);
}

/* Footer Styles */

footer {
    
}