* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    margin: 10vh auto 15vh;
    position: relative;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 575px) {
    body {
        background-image: url("images/bg-intro-desktop.png");
    }
}

@media only screen and (min-width: 575px) {
    main {
        flex-direction: row;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 575px) {
    .half {
        width: 50%;
    }
}

/* Copy Styles */

#copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

#copy * {
    color: white;
    text-align: center;
}

@media only screen and (min-width: 575px) {
    #copy * {
        text-align: left;
    }
}

#copy h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 3rem;
}

#copy p {
    font-size: 16px;
    margin-bottom: 3rem;
    line-height: 2rem;
}

/* Form Styles */

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

button, form {
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: hsl(248, 32%, 49%);
    color: white;
    padding: 3% 15%;
    line-height: 1.5rem;
    border: none;
    border-radius: 7px;
}

form {
    background-color: white;
    border-radius: 7px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: block;
    width: 80%;
    height: 2rem;
    margin: 1rem 1rem 0;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 700;
    color: gray;
}

input:focus {
    border: 2px solid hsl(248, 32%, 49%);
}

#submit {
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    text-align: match-parent;
    font-weight: 400;
    letter-spacing: 1px;
    box-sizing: content-box;
    white-space: normal;
}

form p {
    margin: 1rem 2rem 2rem;
    font-size: .6rem;
    text-align: center;
    line-height: 1rem;
    color: hsl(248, 0%, 70%);
}

#terms {
    color: hsl(0, 100%, 74%);
}

/* Footer Styles */
footer {
    position: relative;
    bottom: 0;
}